@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
.content{
  max-width: 1300px;
  margin: 0 auto;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
h1{
  text-align: center;
  font-family: 'Marck Script', cursive;
  color: #8f85f7;
  margin: 19px;
  font-size: 51px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #8f85f7;
  text-align: center;
  font-style: italic;
  color: white;
}
#fixed{
  position: sticky;
  top: 0;
}
@media screen and (max-width: 600px) {
   #content {width:100%; position: relative;}
   h1{
     font-size: 28px;
     /* margin: 10px auto; */
   }
   #fixed{
    position: sticky;
    top: 0;
  }
}